@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.bg-viking {
  background-color: #038706;
}
.navbar-brand {
  font-family: 'Cinzel', sans-serif;}
  
.card-header {
  /* background-color: #873E03; */
  background-color: #038706;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  border-bottom: none;
}
.card-header-admin {
  background-color: #000000;
}

.card-header a {
  color: white;
  text-decoration: none;
}
.card-body-admin {
  background-color: #cccccc;
  color: white;
  text-decoration: none;
}

a {
  color: #1D0387;
  text-decoration: none;
}

.breadcrumb {
  margin-top:10px;
  padding-bottom:0px;
  margin-bottom:0px;
}